.container {
  background: rgb(40, 40, 196);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  min-height: 1em;
  margin: 1em 0;
}
.title{
color:#fff;
}
.btn{
  background: #aaa;
  &:hover{
    background:#fff;
  }
}